In [1]:
import pandas as pd

In [30]:
data_file = 'data/lead_details.csv'
features_file = 'data/cig_features.parq'

In [3]:
raw = pd.read_csv(data_file)

In [4]:
raw.shape

(5113, 32)

In [5]:
raw.sample(5).T

,4722,2435,1473,2272,3537
lead_id,13152275,10002178,1981091,10651750,12887457
form_data_id,1156471,555177,263931,726943,1108766
lead_match_client_id,11,5709,5556,5709,11
structured_campaign_name,K and B Transportation Inc. : otr (OTR 4) : PM...,Trans System Inc : JJ Williams - Company Drive...,"Prime, Inc. : Nationwide : PMC p5 : a1 : M_113...",Trans System Inc : System Transport Pacific No...,K and B Transportation Inc. : otr (OTR 4) : PM...
company_nicename,K&B Transportation,James J Williams,Prime Inc.,System Transport,K&B Transportation
full_name,Donald Hester,Kenneth Nestor,Rigoberto Penunuri,Lawrence Robinson,Hurbert Perkins
hired,0,0,1,0,0
city,Spencer,Eugene,Eunice,Everett,Collierville
state,OK,OR,LA,WA,TN
zip,73084,97404,70535,98201,38017
years_otr_exp,6-10 years,5 years,0-3 months,6-9 months,6-10 years
lease_purchase,0,1,0,0,0
drivers_license_class_a,1,1,1,1,1
driver_type,company driver,owner operator,student,company driver,company driver
hazmat,0,1,0,0,0
tanker,0,0,0,0,0
doublestriples,0,0,0,0,0
tickets,0,1,0,0,1
job_alerts,1,1,1,1,1
sms_alerts_opt_in,1,1,1,0,1
came_from_suggested_job,1,1,1,0,1
run_single,1,0,0,1,1
run_team,0,1,0,0,0
flatbed,0,0,0,1,0
van,0,0,0,1,0
reefer,0,1,0,1,0
specialized,0,0,0,0,0
multi,0,0,0,0,0
oversized,0,0,0,0,0
stepdeck,0,0,0,0,0
heavy_haul,0,0,0,0,0
haul_tanker,0,0,0,0,0

In [7]:
L = [(col, raw[col].nunique()) for col in raw.columns]
L.sort(key = lambda x: -x[1])
L

[('lead_id', 5113),
 ('form_data_id', 5113),
 ('full_name', 5009),
 ('zip', 3774),
 ('city', 2302),
 ('structured_campaign_name', 283),
 ('company_nicename', 145),
 ('lead_match_client_id', 121),
 ('state', 52),
 ('years_otr_exp', 19),
 ('tickets', 15),
 ('driver_type', 8),
 ('hired', 2),
 ('lease_purchase', 2),
 ('drivers_license_class_a', 2),
 ('hazmat', 2),
 ('tanker', 2),
 ('doublestriples', 2),
 ('job_alerts', 2),
 ('sms_alerts_opt_in', 2),
 ('came_from_suggested_job', 2),
 ('run_single', 2),
 ('run_team', 2),
 ('flatbed', 2),
 ('van', 2),
 ('reefer', 2),
 ('multi', 2),
 ('oversized', 2),
 ('stepdeck', 2),
 ('heavy_haul', 2),
 ('haul_tanker', 2),
 ('specialized', 1)]

In [8]:
raw.driver_type.value_counts()

company driver         4147
student                 313
owner operator          233
company_driver          180
prospective student     162
owner_operator           49
prospective_student      11
lease purchase            1
Name: driver_type, dtype: int64

In [9]:
raw.tickets.value_counts()

 0      3793
 1       820
 2       296
 3       118
 5        40
 4        29
 10        6
 6         3
 127       2
 39        1
 35        1
-1         1
 30        1
-7         1
 8         1
Name: tickets, dtype: int64

In [11]:
raw.years_otr_exp.value_counts()

6-10 years      1220
0-3 months       642
6-9 months       431
3-6 months       344
2 years          303
3 years          277
11-15 years      256
5 years          252
16-20 years      251
12-18 months     220
4 years          210
30+ years        167
21-25 years      158
9-12 months      131
26-29 years      106
18-24 months     104
1 year            16
1.5               14
0.25              11
Name: years_otr_exp, dtype: int64

In [16]:
raw.years_otr_exp.value_counts().to_csv('data/cig_years_conversion_0.csv', header=True)

(Manually edited cig_years_conversion.csv)

In [13]:
exp_conversion = pd.read_csv('data/cig_years_conversion.csv').set_index('exp_yr_str')

In [14]:
exp_conversion

              exp_yr_num
exp_yr_str
6-10 years          8.00
0-3 months          0.25
6-9 months          0.75
3-6 months          0.50
2 years             2.00
3 years             3.00
11-15 years        13.00
5 years             5.00
16-20 years        18.00
12-18 months        1.50
4 years             4.00
30+ years          30.00
21-25 years        23.00
9-12 months         1.00
26-29 years        27.00
18-24 months        2.00
1 year              1.00
1.5                 1.50
0.25                0.25

In [15]:
climate_regions = pd.read_csv('data/climate_regions.csv').set_index('state')
climate_regions

      climate_region         region_name
state
IL                 C             Central
IN                 C             Central
KY                 C             Central
MO                 C             Central
OH                 C             Central
TN                 C             Central
WV                 C             Central
IA               ENC  East North Central
MI               ENC  East North Central
MN               ENC  East North Central
WI               ENC  East North Central
CT                NE           Northeast
DE                NE           Northeast
ME                NE           Northeast
MD                NE           Northeast
MA                NE           Northeast
NH                NE           Northeast
NJ                NE           Northeast
NY                NE           Northeast
PA                NE           Northeast
RI                NE           Northeast
VT                NE           Northeast
ID                NW           Northwest
OR                NW           Northwest
WA                NW           Northwest
AR                 S               South
KS                 S               South
LA                 S               South
MS                 S               South
OK                 S               South
TX                 S               South
AL                SE           Southeast
FL                SE           Southeast
GA                SE           Southeast
NC                SE           Southeast
SC                SE           Southeast
VA                SE           Southeast
AZ                SW           Southwest
CO                SW           Southwest
NM                SW           Southwest
UT                SW           Southwest
CA                 W                West
NV                 W                West
MT               WNC  West North Central
NE               WNC  West North Central
ND               WNC  West North Central
SD               WNC  West North Central
WY               WNC  West North Central
AK                AK              Alaska
HI                HI              Hawaii

In [17]:
raw1 = raw.join(exp_conversion, on='years_otr_exp')

In [26]:
features = raw1.join(climate_regions[['climate_region']], on='state')

In [27]:
features.loc[features.tickets > 10, 'tickets'] = 10
features.loc[features.tickets < 0, 'tickets'] = 0

In [32]:
features.driver_type.value_counts()

company driver         4147
student                 313
owner operator          233
company_driver          180
prospective student     162
owner_operator           49
prospective_student      11
lease purchase            1
Name: driver_type, dtype: int64

In [33]:
features.loc[features.driver_type == 'company driver', 'driver_type'] = 'company_driver'
features.loc[features.driver_type == 'owner operator', 'driver_type'] = 'owner_operator'
features.loc[features.driver_type == 'prospective student', 'driver_type'] = 'student'
features.loc[features.driver_type == 'prospective_student', 'driver_type'] = 'student'
features.loc[features.driver_type == 'lease purchase', 'driver_type'] = 'lease_purchase'

In [34]:
features.sample(5).T

,4420,2743,4819,3334,3325
lead_id,9300264,8079203,11883498,10309628,8591630
form_data_id,452165,390847,995636,625376,409942
lead_match_client_id,5798,5575,5881,5709,5575
structured_campaign_name,TMC Transportation Inc : MTC School : PMC p5 :...,Crete Carrier Corporation : National : PMC p5 ...,Marvin Family of Brands : Company Driver : PMC...,Trans System Inc : System Transport Company Dr...,Crete Carrier Corporation : National : PMC p75...
company_nicename,TMC Transportation,Crete Carrier Corporation,Marvin Family of Brands,System Transport,Crete Carrier Corporation
full_name,Marcus Smith,Petru Hordouan,Jason Williams,James Wallace,Tony Benjamin
hired,0,0,0,0,0
city,Memphis,Glendale,Memphis,Philo,Lake Wales
state,TN,AZ,TN,CA,FL
zip,38127,85304,38128,95466,33898
years_otr_exp,0-3 months,3-6 months,5 years,11-15 years,11-15 years
lease_purchase,1,0,0,0,1
drivers_license_class_a,0,1,1,1,1
driver_type,student,company_driver,company_driver,company_driver,company_driver
hazmat,0,0,0,0,0
tanker,1,0,0,0,1
doublestriples,0,0,0,1,0
tickets,0,0,1,0,4
job_alerts,0,1,1,0,1
sms_alerts_opt_in,0,0,1,1,1
came_from_suggested_job,1,1,1,0,0
run_single,0,0,1,1,1
run_team,1,1,0,0,0
flatbed,0,1,0,1,0
van,0,0,0,1,1
reefer,0,0,0,1,1
specialized,0,0,0,0,0
multi,0,0,0,0,0
oversized,0,0,0,0,0
stepdeck,0,0,0,1,0
heavy_haul,0,0,0,0,0
haul_tanker,0,0,0,0,1
exp_yr_num,0.25,0.5,5,13,13
climate_region,C,SW,C,W,SE

In [35]:
features.to_parquet(features_file)

In [36]:
features.to_excel('data/cig_features.xlsx', index=False)